@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255); /*Cambiar a negro en caso de necesitar*/
}
/*Mensaje error*/
.error {
  color: rgb(126, 0, 0);
}

/* css del login */

html,
body {
  height: 100% !important;
}

body {
  background: url(../img/2793904f-94aa-402b-a8a8-f1fa14ab5756.jpg) no-repeat
    center center fixed;
  background-size: cover;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

main > form {
  backdrop-filter: blur(18px);
  background-color: rgba(129, 124, 124, 0.61);
  min-width: 420px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #ffff;
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}
h1 {
  font-size: 36px;
  text-align: center;
}
/* diseño de los cuadros de texto */

.input-text {
  width: 100%;
}

.input-text input {
  background: transparent;
  padding: 1em 0em 1em 0.5em;
  outline: none;
  width: 100%;
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 16px;
  color: #ffff;
}

.input-text input::placeholder {
  color: #ffff;
}

.input-text input[type="submit"] {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.input-text input[type="submit"]:hover {
  background-color: rgb(228, 14, 14);
  color: white;
}
form a {
  color: rgb(2, 2, 2);
  transition: transform 0.5s ease;
}
form a:hover {
  transform: scale(1.1);
}
div p {
  text-align: center;
}

/* HEADER */

.header {
  width: 100%;
  background-color: #303c4c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed !important;
  z-index: 2;
  min-height: 7em;
}

